html {
  height: 100%;
}

body {
  font-family: 'Courier New', monospace;
  text-align: center;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.container {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


#target {
  font-size: 48px;
  letter-spacing: 3px;
}

.info {
  color:#5c5c5c;
}
